body {
  background-image: url(../assets/images/at_lake.jpg);
  background-size: cover;
  max-width: 100%;
}

/* courgette-regular - latin */
@font-face {
  font-family: "Courgette";
  font-style: normal;
  font-weight: 400;
  src: url("../assets/fonts/courgette-v13-latin/courgette-v13-latin-regular.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../assets/fonts/courgette-v13-latin/courgette-v13-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */
      url("../assets/fonts/courgette-v13-latin/courgette-v13-latin-regular.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("../assets/fonts/courgette-v13-latin/courgette-v13-latin-regular.woff")
      format("woff"),
    /* Modern Browsers */
      url("../assets/fonts/courgette-v13-latin/courgette-v13-latin-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../assets/fonts/courgette-v13-latin/courgette-v13-latin-regular.svg#Courgette")
      format("svg"); /* Legacy iOS */
}

li {
  font-family: "Courgette";
  font-size: 30px;
  list-style: none;
}

a {
  text-decoration: none;
  color: #9932cc;
}

a:hover {
  color: rgb(129, 171, 113);
}

.centered-content {
  display: flex;
  flex-direction: column; /*ensures that the items are arranged vertically within the container. */
  justify-content: center; /* Centers content vertically */
  align-items: center; /* Centers content horizontally */
  /* height: 100vh;*/ /* Set the container height to viewport height */

  font-family: "Courgette";
  font-size: 22px;
}

.centered-content table {
  border-collapse: collapse; /* Merge table borders */
  border: 2px solid black; /* Add a border to the table */
}

.centered-content th,
.centered-content td {
  border: 1px solid black; /* Add borders to table cells */
  padding: 8px; /* Add some padding to cells for spacing */
}

.collapsed {
  max-height: 0;
  display: none;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
}

.collapsible-header:hover {
  background-color: #ccc;
}

.navbar {
  display: flex;
  align-items: center;
}

table {
  width: 50%;
  table-layout: auto;
}

.table-container {
  max-height: 100px; /* adjust the max height according to your needs */
  overflow-y: auto;
}
