body {
  background-image: url(../assets/images/IMG_20200408_Lake.jpg);
  background-size: cover;
  max-width: 100%;
}

/* courgette-regular - latin */
@font-face {
  font-family: "Courgette";
  font-style: normal;
  font-weight: 400;
  src: url("../assets/fonts/courgette-v13-latin/courgette-v13-latin-regular.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../assets/fonts/courgette-v13-latin/courgette-v13-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */
      url("../assets/fonts/courgette-v13-latin/courgette-v13-latin-regular.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("../assets/fonts/courgette-v13-latin/courgette-v13-latin-regular.woff")
      format("woff"),
    /* Modern Browsers */
      url("../assets/fonts/courgette-v13-latin/courgette-v13-latin-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../assets/fonts/courgette-v13-latin/courgette-v13-latin-regular.svg#Courgette")
      format("svg"); /* Legacy iOS */
}

li {
  font-family: "Courgette";
  font-size: 30px;
  list-style: none;
}

a {
  text-decoration: none;
}

a:hover {
  color: rgb(129, 171, 113);
}
